#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.input-box{
  width: 60%;
  margin: 1% 0 5% 20%;
}
.teamList{
  display: flex; 
  justify-content: center; 
  align-items: center;
  padding-top: 4%;
}
.team{
  margin: 1%;
  width: 50%;
  border: 1px solid black;
}

.btn-close{
  margin-left: 20%;
  font-size: 15px;
}

.error-msg{
  margin: 5%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: red;
  font-weight: bold;
}
